<div class="main-header">
  <div class="groupname">
    kanakoschat
  </div>

  <div class="end-chat">
    <a href="#">チャットを終了する</a>
  </div>
</div>

<div class="messages">
  <div class="message1">
    <div class="message-name">kanako</div>
    <div class="message-date">2020/10/12(Mon) 12:00:00</div>
  </div>
  <div class="message-text">おはよう</div>

  <div class="message2">
    <div class="message-name">tom</div>
    <div class="message-date">2020/10/12(Mon) 12:01:00</div>
  </div>
  <div class="message-text">おはよう!</div>
</div>

<div class="form">
  <div class ="contact-form">
    <input placeholder="type a message" class="text-form">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="send">
</div>

